<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Fußball CG-Steuerung</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/client.css">
</head>

<body ng-app="app">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">naheTV Fußball</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/manual-control">Manuelle Steuerung</a></li>
                <li><a href="/settings">Einstellungen</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>


<div class="container" style="padding-top: 16px;">
    <div class="row">
        <div class="panel panel-default" ng-controller="ClockController">
            <div class="panel-heading">Zeit</div>
            <div class="panel-body">
                <div class="row" style="margin: 8px;">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-success" ng-click="showClock()">Zeit anzeigen</button>
                        <button type="button" class="btn btn-danger" ng-click="hideClock()">Zeit ausblenden</button>
                        <span>&nbsp - &nbsp</span>
                        <button type="button" class="btn btn-success" ng-click="startClock()">Timer starten</button>
                        <button type="button" class="btn btn-warning" ng-click="resetClock()">Timer zurücksetzen</button>
                        <button type="button" class="btn btn-danger" ng-click="stopClock()">Timer stoppen</button>
                        <span>&nbsp - &nbsp</span>
                        <span style="font-weight: bold;">Uhr: {{clockTimeString}} - Ext: {{extraTimeClockString}} (+{{extraTime}})</span>
                    </div>
                </div>
                <div class="row" style="margin: 8px;">
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="0" ng-model="newMinute">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-click="setMinute()">Set Minute</button>
                            </span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="0" ng-model="newExtraTime">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" ng-click="addExtraTime()">Nachspielzeit hinzufügen
                                </button>
                            </span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-danger" type="button" ng-click="removeExtraTime()">Nachspielzeit abziehen
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="panel panel-default" ng-controller="ScoreController">
            <div class="panel-heading">Spielstand</div>
            <div class="panel-body">
                <div class="btn-group padding-15" role="group">
                    <button type="button" class="btn btn-default" ng-click="adjustScore('home', 'up')">
                        {{teamData.home.name}} + 1
                    </button>
                    <button type="button" class="btn btn-default" ng-click="adjustScore('home', 'down')">
                        {{teamData.home.name}} - 1
                    </button>
                    <button type="button" class="btn btn-default" ng-click="adjustScore('guest', 'up')">
                        {{teamData.guest.name}} + 1
                    </button>
                    <button type="button" class="btn btn-default" ng-click="adjustScore('guest', 'down')">
                        {{teamData.guest.name}} - 1
                    </button>
                </div>
                <div class="btn-group padding-15" role="group">
                    <button type="button" class="btn btn-success" ng-click="showScoreLt()">Spielstand BB anzeigen</button>
                    <button type="button" class="btn btn-danger" ng-click="hideScoreLt()">Spielstand BB ausblenden</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default" ng-controller="LtController">
            <div class="panel-heading">Bauchbinden (BB)
                <button type="button" class="btn btn-warning btn-xs" style="float: right;" ng-click="clear()">Clear BBs
                </button>
            </div>
            <div class="panel-body">
                <div class="col-xs-6" style="border-right: solid 1px #EEE">
                    <form>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" ng-model="ltName">
                        </div>
                        <div class="form-group">
                            <label>Beschreibung</label>
                            <input type="text" class="form-control" placeholder="Description" ng-model="ltDescription">
                        </div>
                        <button type="button" class="btn btn-default" ng-click="showLowerThird(ltName, ltDescription)">
                            BB anzeigen
                        </button>
                    </form>
                </div>
                <div class="col-xs-6" style="border-left: solid 1px #EEE">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Beschreibung</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="preset in data">
                                <td>{{preset.name}}</td>
                                <td>{{preset.description}}</td>
                                <td><button type="button" class="btn btn-default btn-xs" ng-click="showLowerThird(preset.name, preset.description)">
                                    Preset anzeigen
                                </button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/vendor.js" charset="utf-8"></script>
<script src="js/application.js" charset="utf-8"></script>
</body>

</html>
